CTS/Ingenieria.Silverlight.Cliente/Service References/PlantaService/PlantaModelService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/AplicacionDTO.DTOs.Ingenieria.PlantaDtos" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/AplicacionDTO.DTOs.Ingenieria.PlantaDtos" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfPlantaDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PlantaDTO" nillable="true" type="tns:PlantaDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPlantaDTO" nillable="true" type="tns:ArrayOfPlantaDTO" />
  <xs:complexType name="PlantaDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NombrePlanta" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PlantaId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PlantaDTO" nillable="true" type="tns:PlantaDTO" />
</xs:schema>