CTS/Ingenieria.Silverlight.Cliente/Service References/PlantaService/PlantaModelService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:58023/Ingenieria/PlantaServices/PlantaModelService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/AplicacionDTO.DTOs.Ingenieria.PlantaDtos" />
  <xs:element name="ObtenerPlantas">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerPlantasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/AplicacionDTO.DTOs.Ingenieria.PlantaDtos" minOccurs="0" name="ObtenerPlantasResult" nillable="true" type="q1:ArrayOfPlantaDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>